.about{
    height: 50vh;
    }
.about_wrapper{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#c7465790,#8242a094,#5341ca);
    background-size: 600% 600%;
    animation: bganimation 10s infinite linear;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about_1{
    width: 50%;
}
.about_1 h1{
    margin: 3%;
}

@keyframes bganimation{
    0%{
        background-position: 0% 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}